var filters = ({
    toFix: (function(value, n) {
        n = undefined === n ? 0 : n;
        console.log(value);
        if (value != '') {
            if (value < 0) {
                value = 0
            } else if (value > 100) {
                value = 100
            };
            return (value.toFixed(n))
        } else {
            return (0)
        }
    }),
    getFix: (function(val) {
        return (val.toFixed(2))
    }),
});
module.exports = ({
    toFix: filters.toFix,
});